.mat-column-birthdate, .mat-column-snils {
  flex: 0 0 100px;
}

.mat-column-gender, .mat-column-weight, .mat-column-height, .mat-column-age {
  flex: 0 0 50px;
}

.mat-column-consultations, .mat-column-delete {
  flex: 0 0 125px;
}

.mat-column-edit {
  flex: 0 0 150px;
}
