<div class="row">
  <div class="col">
    <h1>Редактирование консультации</h1>
  </div>
  <div class="col m-2">
    <button form="form" mat-stroked-button class="large-button float-right h2" type="submit">Сохранить</button>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <mat-spinner *ngIf="!consultationLoaded"></mat-spinner>
      <form id="form" *ngIf="consultationLoaded" [formGroup]="editConsultationForm" (ngSubmit)="onSubmit(editConsultationForm.value)">

        <mat-form-field class="wide-form-field" appearance="standard">
          <mat-label for="startDate">
            Начало
          </mat-label>
          <input matInput formControlName="startDate" [owlDateTime]="startDate" [owlDateTimeTrigger]="startDate">
          <owl-date-time [pickerType]="'calendar'" #startDate></owl-date-time>
        </mat-form-field>
        <br>

        <mat-form-field class="wide-form-field" appearance="standard">
          <mat-label for="endDate">
            Завершение
          </mat-label>
          <input matInput formControlName="endDate" [owlDateTime]="endDate" [owlDateTimeTrigger]="endDate">
          <owl-date-time [pickerType]="'calendar'" #endDate></owl-date-time>
        </mat-form-field>
        <br>

        <mat-form-field class="wide-form-field" appearance="standard">
          <mat-label for="symptoms">
            Симптомы
          </mat-label>
          <input matInput required id="symptoms" formControlName="symptoms">
        </mat-form-field>
        <br>

      </form>
</div>
</div>
