<div class="row">
  <div class="col">
    <h1>Создание консультации</h1>
  </div>
  <div class="col m-2">
    <button form="form" mat-stroked-button class="large-button float-right h4" type="submit">Создать</button>
  </div>
</div>

<div class="row">
  <div class="col-8">
    <form id="form" [formGroup]="createConsultationForm" (ngSubmit)="onSubmit(createConsultationForm.value)">

      <mat-form-field class="wide-form-field" appearance="standard">
        <mat-label for="startDate">
          Начало
        </mat-label>
        <input matInput required formControlName="startDate" [owlDateTime]="startDate" [owlDateTimeTrigger]="startDate">
        <owl-date-time #startDate></owl-date-time>
      </mat-form-field>
      <br>

      <mat-form-field class="wide-form-field" appearance="standard">
        <mat-label for="endDate">
          Завершение
        </mat-label>
        <input matInput required formControlName="endDate" [owlDateTime]="endDate" [owlDateTimeTrigger]="endDate">
        <owl-date-time #endDate></owl-date-time>
      </mat-form-field>
      <br>

      <mat-form-field class="wide-form-field" appearance="standard">
        <mat-label for="symptoms">
          Симптомы
        </mat-label>
        <input matInput id="symptoms" formControlName="symptoms">
      </mat-form-field>
      <br>

    </form>
  </div>
</div>
